<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Information</h3>
            </div>
            <div class="panel-body">

                <div class="media">
                    <a class="pull-left" href="#">
                        <!--<img class="media-object" height="120" ng-src="../../Content/images/employees/{{employee.Image}}" alt="" />-->
                        <img ng-show="employee.Image == null" src="../../../Content/images/no-image.png" />
                        <img ng-hide="employee.Image == null" ng-src="../../Content/images/employees/{{employee.Image}}" class="img-thumbnail center-block"
                            alt="" style="height: 120px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ employee.FullName }}</h4>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Department:</td>
                                    <td>{{ employee.DepartmentName }}</td>
                                </tr>
                                <tr>
                                    <td>First:</td>
                                    <td>{{ employee.FirstName }}</td>
                                </tr>
                                <tr>
                                    <td>Last:</td>
                                    <td>{{ employee.LastName }}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{ employee.Email }}</td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <available-device is-available="{{employee.IsActive}}"></available-device>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Created Date:</td>
                                    <td>{{ employee.CreatedDate | date: 'MMM d,y' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Rantal History by Date</h3>
            </div>
            <div class="panel-body">
                <div id="rentalHistoryByDateChart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h5 class="panel-title">Rental History</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="filterRentals">Name:</label>
                        <div class="input-group">
                            <input type="search" ng-model="filterRentals" class="form-control" placeholder="Filter...">
                            <div class="input-group-btn">
                                <button class="btn btn-danger" ng-click="clearSearch()"><i class="glyphicon glyphicon-remove-sign"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="filterStatus">Status:</label>
                        <select name="filterStatus" ng-model="filterStatus" class="form-control">
                            <option value="">All</option>
                            <option value="Borrowed">Borrowed</option>
                            <option value="Returned">Returned</option>
                        </select>
                    </div>
                </form>
                <div class="table-responsive" style="overflow-y: auto; max-height: 540px;">
                    <table class="table table-bordered">
                        <thead>
                            <th>#</th>
                            <th>Device</th>
                            <th>Rental Date</th>
                            <th>Status</th>
                            <th ng-hide="(filterStatus == 'Returned')"></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rental in rentals | filter: { Device: filterRentals, Status: filterStatus } | orderBy:'-ID' ">
                                <td>{{ rental.ID }}</td>
                                <td>{{ rental.Device }}</td>
                                <td>{{ rental.RentalDate | date:'fullDate' }}</td>
                                <td ng-class="getStatusColor(rental.Status)">{{ rental.Status }}</td>
                                <td ng-hide="(filterStatus == 'Returned')">
                                    <button ng-if="isBorrowed(rental)" type="button" class="btn btn-primary btn-xs" ng-click="returnDevice(rental.ID)">Return</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>