<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/employee">Employee<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/employee/add">Register Employee<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/device">Device<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></a></li>
            <li><a ng-href="#/device/add">Add device<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a href="#/rental">Rental<span class="glyphicon glyphicon-transfer pull-right" aria-hidden="true"></span></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/chart/">Charts<span class="glyphicon glyphicon-stats pull-right" aria-hidden="true"></span></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li>
                <button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">
                    Logout<i class="fa fa-sign-out fa-fw pull-right"></i></a></li>
        </ul>
    </div>
</div>