<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default" id="panelDevices">
            <div class="panel-heading">
                <h3>Latest Devices</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingDevices">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <label class="label label-primary">Loading devices...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-repeat="device in latestDevices">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>{{device.Name}} </strong></div>
                        <div class="panel-body">
                            <div class="media">
                                <a class="media-left" href="#" title="{{device.Description | limitTo:200}}">
                                    <img class="media-object" height="120" ng-src="../../Content/images/devices/{{device.Image}}" alt="" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    <p><available-device is-available="{{device.IsAvailable}}"></available-device></p>
                                    <small>{{device.Description | limitTo: 120}}...</small>
                                    <p><label class="label label-info">{{device.Category}}</label><br /></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <!--<span component-rating="{{device.Rating}}"></span>-->
                            <a class="pull-right" href="#/device/detail/{{device.ID}}">More detail <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success" id="panelDeviceCategories">
            <div class="panel-heading">
                <h3 class="panel-title">Device Categories</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingCategories">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"><i class="fa fa-refresh fa-5x fa-spin"></i>
                        <label class="label label-primary">Loading Categories..</label></div>
                    <div class="col-xs-4"></div>
                </div>
                <div id="categories-bar"></div>
            </div>
            <div class="panel-footer">
                <p class="text-center"><em>Wanna add a new Device? Head over to the add device form.</em></p>
                <p class="text-center"><a ng-href="#/device/add" class="btn btn-default">Add new Device</a></p>
            </div>
        </div>
    </div>
</div>
