<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default" id="panelDevices">
            <div class="panel-heading">
                <h3>Latest Devices</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingDevices">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <label class="label label-primary">Loading devices...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-repeat="device in devices">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>{{device.Title}} </strong></div>
                        <div class="panel-body">
                            <div class="media">
                                <a class="pull-left" href="#"><a class="fancybox pull-left" rel="gallery1" ng-href="../../Content/images/devices/{{device.Image}}" title="{{device.Description | limitTo:200}}">
                                    <img class="media-object" height="120" ng-src="../../Content/images/devices/{{device.Image}}" alt="" />
                                </a>
                                </a>
                                <div class="media-body">
                                    <available-device is-available="{{device.IsAvailable}}"></available-device>
                                    <div><small>{{device.Description | limitTo: 70}}...</small></div>
                                    <label class="label label-info">{{device.Category}}</label><br />
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="panel-footer">
                            <!--<span component-rating="{{device.Rating}}"></span>-->
                            <a class="fancybox-media pull-right" ng-href="{{device.TrailerURI}}">Trailer<i class="fa fa-video-camera fa-fw"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success" id="panelDeviceCategories">
            <div class="panel-heading">
                <h3 class="panel-title">Device Categories</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingCategories">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"><i class="fa fa-refresh fa-5x fa-spin"></i>
                        <label class="label label-primary">Loading Categories..</label></div>
                    <div class="col-xs-4"></div>
                </div>
                <div id="categories-bar"></div>
            </div>
            <div class="panel-footer">
                <p class="text-center"><em>Wanna add a new Device? Head over to the add device form.</em></p>
                <p class="text-center"><a ng-href="#/device/add" class="btn btn-default">Add new Device</a></p>
            </div>
        </div>
    </div>
</div>
