<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Device Information
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object" height="120" ng-src="../../Content/images/devices/{{device.Image}}" alt="" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ device.Name }}</h4>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <available-device is-available="{{device.IsAvailable}}"></available-device>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td><small>{{ device.Description }}</small></td>
                                </tr>
                                <tr>
                                    <td>Category:</td>
                                    <td>
                                        <label class="label label-info">{{device.Category}}</label></td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td>{{ 100 | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Created Date:</td>
                                    <td>{{ device.CreatedDate | date: 'MMMM d, y' }}</td>
                                </tr>
                                <tr>
                                    <td>Stocks:</td>
                                    <td>{{ device.NumberOfStocksAvaiable }} / {{ device.NumberOfStocks }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="javascript:history.back()" class="btn btn-default">Back</a>
                        <div class="pull-right">
                            <a href="#/device/edit/{{ device.ID }}" class="btn btn-warning">Edit</a>
                            <button ng-if="device.NumberOfStocks > 0" type="button" class="btn btn-primary" ng-click="openRentModal()">Rent</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h5 class="pull-left">Rentals</h5>
                <div class="input-group">
                    <input id="inputSearchMovies" type="search" ng-model="filterRentals" class="form-control" placeholder="Filter..">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" ng-click="clearSearch()"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Rental Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rental in rentalHistory | filter: filterRentals">
                                <td>{{ rental.ID }}</td>
                                <td>{{ rental.Employee }}</td>
                                <td>{{ rental.RentalDate | date:'fullDate' }}</td>
                                <td ng-class="getStatusColor(rental.Status)">{{rental.Status}}</td>
                                <td class="text-center">
                                    <button ng-if="isBorrowed(rental)" type="button" class="btn btn-primary btn-xs" ng-click="returnDevice(rental.ID)">Return</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
