<hr />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Add new device</div>
        <div class="panel-body">
            <form role="form" novalidate angular-validator name="addDeviceForm" angular-validator-submit="addDevice()">
                <div class="form-group">
                    <label for="deviceName">Name:</label>
                    <input type="text" id="deviceName" name="deviceName" class="form-control" ng-model="device.Name" placeholder="Name" validate-on="blur" required required-message="'Name is required'">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea rows="3" placeholder="Description" class="form-control" id="description" ng-model="device.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="numberOfStocks">Number Of Stocks:</label>
                    <input type="number" min="0" placeholder="Number Of Stocks" class="form-control" id="numberOfStocks" ng-model="device.NumberOfStocks" />
                </div>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox">
                        Remember me</label>
                </div>-->
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" ng-model="device.CategoryID"> 
                        <option ng-repeat="c in categories" value="{{c.ID}}">{{ c.Name }}</option>
                    </select>   
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <!--<div class="panel-footer"></div>-->
    </div>
</div>